@charset "utf-8"; 
/* culturalanthro - Created by Jake Camara and 313 Communications
----------------------------------------------------------------
[Table of contents]

 0.Reset
 1.Global
 2.Layout
 3.Main
 4.Sidebars
 5.Header
 6.Navigation
 7.Nodes
 8.Comments
 9.Blocks
10.Footer
12.CSS Support
13.Advanced

[Font sizes - based on 75%/12px body]
36px = 3em
30px = 2.5em
24px = 2em
18px = 1.5em
16px = 1.333333em
14px = 1.1667em
12px = 1em
11px = .9167em
10px = .8333em

Equasion for font sizing: 
-Desired in px ÷ Default (or parent) in px = sizing in em

----------------------------------------------------------------*/

body{
	margin:0;
	color:#333;
	font:12px/18px Arial, Helvetica, sans-serif;
	background:#fff;
	min-width:972px;
}
img{border-style:none;} 
a{
	color:#400f00;
	text-decoration:none;
}
a:hover{text-decoration:underline;}
input, textarea, select{
	font:100% arial,sans-serif;
	vertical-align:middle;
}
form, fieldset{
	margin:0;
	padding:0;
	border-style:none;
}
.container{
	width:900px;
	padding:28px 36px;
	margin:0 auto;
	overflow:hidden;
}
#header {
	overflow:hidden;
	width:890px;
	padding:0 5px;
}
#header h1 {
	color:#290a00;
	font:bold 29px Georgia, "Times New Roman", Times, serif;
	margin:0 0 5px;
	text-transform:uppercase;
}
#header h1 a:hover { text-decoration: none; color: #290a00; }
#header h1 strong {
	color:#000;
	font:18px/30px Georgia, "Times New Roman", Times, serif;
	display:block;
	margin:0 0 15px;
	text-transform:uppercase;
}
#header .visual {
	width:100%;
	overflow:hidden;
	margin:0 0 20px;
}
#header .visual img{
	display:block;
	margin:0 auto;
}
#nav {
	overflow:hidden;
	width:940px;
	margin:0 0 32px -35px;
}
#nav ul {
	padding:0;
	margin:0;
	list-style:none;
	overflow:hidden;
}
#nav ul li {
	float:left;
	display:inline;
	margin:0 0 0 40px;
	padding-right: 4px;
	text-transform:uppercase;
	font:bold 13px Arial, Helvetica, sans-serif;
	letter-spacing:1px;
}
#nav ul a {
	color:#333;
	display:block;
	padding:1px 0 1px 5px;
}
#nav ul a span {padding:1px 5px 1px 0;}
#nav ul a:hover {
	color:#400f00;
	text-decoration:none;
}
#nav ul li a.active {
	background:url(images/sep-nav-act.gif) no-repeat;
	color:#333;
}
#nav ul li.active-trail {
	background:url(images/sep-nav-act.gif) no-repeat 100% -17px;
}
#main {
	width:900px;
	overflow:hidden;
}
#main {
	float:left;
	width:595px;
	padding:0 28px 0 5px;
	overflow:hidden;
}
#main h2 {
	color:#400f00;
	font:bold 14px/19px Arial, Helvetica, sans-serif;
	margin:0 0 4px;
}
#main p {
	color:#333;
	font:12px/18px Arial, Helvetica, sans-serif;
	margin:0 0 5px;
}
#main p .mark-text {text-transform:uppercase;}

.node { margin-bottom: 25px; }


#sidebar-right {
	float:right;
	width:244px;
	padding:12px 14px;
	/*background:url(images/bg-main.gif) repeat-y 100% 0;*/
	background-color: #e6e6e6;
}
#sidebar-right h3 {
	color:#333;
	text-transform:uppercase;
	font:bold 12px/18px Arial, Helvetica, sans-serif;
	margin:0;
}
#sidebar-right .subttl {
	color:#333;
	font:12px/18px Arial, Helvetica, sans-serif;
	display:block;
	margin:0 0 10px;
}
#sidebar-right ul.articles {
	padding:0 0 12px;
	margin:0;
	list-style:none;
	overflow:hidden;
}
#sidebar-right ul.articles  li {margin:0 0 8px;}
#sidebar-right ul.articles a {color:#400f00;}

#sidebar-right #edit-search-block-form-1-wrapper label { display: none; }


.search-form .row{
	width:100%;
	overflow:hidden;
	margin:0 0 3px;
}
label {
	font:12px Georgia, "Times New Roman", Times, serif;
	display:block;
	margin:0 0 3px;
}
.row .txt-search {
	background:#fff;
	border:1px solid #bcbcbc;
	padding:2px 2px 3px;
	float:left;
	margin:0 10px 0 0;
	width:150px;
}
.row .txt-search input {
	border:0;
	background:none;
	font:12px Arial, Helvetica, sans-serif;
	color:#333;
}
.row .btn-search {
	border:0;
	background:none;
	cursor:pointer;
	font:bold 11px Arial, Helvetica, sans-serif;
	float:left;
	padding:3px 0 0;
}

#footer {
	clear: both;
	margin-top: 10px;
}


/**
 * ARCHIVE
**/

/* listing */
.view-articles .views-row { margin-bottom: 25px; }

.view-articles .views-field-created {
	color: #666; 
	font-size: .8em; 
	font-family: Verdana; 
	font-weight: bold;
}

.view-articles .views-field-title {
	font: 1.25em Georgia, Times, serif;
	font-weight: bold;
	margin-bottom: 2px;
}

.view-articles .views-field-field-author-credit-value {
	font: 1.1em Georgia, Times, serif;
	color: #363636;
	font-style: italic;
	margin-bottom: 5px;
}

.view-articles .views-field-field-author-credit-value .field-content:before {
	content: "- ";
}

.view-articles .views-field-field-pdf-fid,
.view-articles .views-field-field-external-link-url {
	font-size: .9em;
	font-weight: bold;
	text-transform: uppercase;
	display: inline;
	margin-right: 15px;
}

.view-articles .views-field-field-pdf-fid .field-content:before,
.view-articles .views-field-field-external-link-url .field-content:before {
	content: ">>";
}

.view-articles .views-field-field-external-link-url .field-content { display: inline; }

/* individual post */
#main.article .submitted {
	color: #666; 
	font-size: .8em; 
	font-family: Verdana; 
	font-weight: bold;
}

#main.article h2.title {
	font: 1.25em Georgia, Times, serif;
	font-weight: bold;
	margin-bottom: 2px;
}

#main.article .field-field-author-credit {
	font: 1.1em Georgia, Times, serif;
	color: #363636;
	font-style: italic;
	margin-bottom: 5px;
}

#main.article .field-field-author-credit .field-item:before {
	content: "-";
}

#main.article p.back { 
	font-size: .9em; 
	font-weight: bold; 
	text-transform: uppercase; 
	margin-top: 10px;
}

#main.article #comments {
	background-color: #ebeaea;
	padding: 15px;
}

#comments ul.links {
	text-align: right;
	font-size: .9em;
	font-weight: bold;
}

#comments .comment {
	border-bottom: 1px solid #ccc;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

#comment-form #edit-name-wrapper,
#comment-form #edit-mail-wrapper {
	width: 275px;
	float: left;
}

#comment-form #edit-name-wrapper.form-item,
#comment-form #edit-mail-wrapper.form-item {
	margin-bottom: 10px;
}

#comment-form #edit-homepage-wrapper {
	clear: both;
}

#edit-mail-wrapper .description {
	margin: 0;
}

#block-views-article_photo_sidebar-block_1 {
	margin-bottom: 15px;
}

#block-views-article_photo_sidebar-block_1 .views-field-field-photo-fid img {
	border: 10px solid #fff;
}

#block-views-article_photo_sidebar-block_1 .views-field-field-photo-data {
	font-size: .9em;
	padding: 0 10px;
	color: #666;
}

/**
 * PUBLICATIONS
**/

.view-publications .views-row { margin-bottom: 25px; }

.view-publications .views-field-field-author-value, .field-field-author {
	color: #666; 
	font-size: .8em; 
	font-family: Verdana; 
	font-weight: bold;
}

.view-publications .views-field-title {
	font: 1.25em Georgia, Times, serif;
	font-weight: bold;
	margin-bottom: 2px;
}

.view-publications .views-field-title a {
	color: #400f00;
}

.view-publications .views-field-field-publisher-value, .field-field-publisher {
	font: 1.1em Georgia, Times, serif;
	color: #363636;
	font-style: italic;
	margin-bottom: 5px;
}

.view-publications .views-field-body { color: #363636; }

.view-publications .views-field-field-external-link-url .field-item, .field-field-external-link .field-item { 
	display: inline; 
	margin-right: 15px;
	font-size: .9em;
	font-weight: bold;
}

.view-publications .views-field-field-external-link-url .field-item:before, .field-field-external-link .field-item:before {
	content: ">> ";
}

.view-publications .views-field-tid {
	margin: 5px 0;
}

.view-publications .views-field-tid, .view-publications .views-field-tid label, .terms { 
	font: 1em Georgia, Times, serif;
	font-weight: bold; 
	font-style: italic;
}

.view-publications .views-field-tid label, .view-publications .views-field-tid .field-content {
	display: inline;
}

.view-publications .views-field-tid label, .terms span {
	color: #666;
}

.terms ul li a {
	color: #400F00 !important;
}

/**
 * NEWS
**/

.view-news .views-row { margin-bottom: 25px; }

.view-news .views-field-created {
	color: #666; 
	font-size: .8em; 
	font-family: Verdana; 
	font-weight: bold;
}

.view-news .views-field-title {
	font: 1.25em Georgia, Times, serif;
	font-weight: bold;
	margin-bottom: 2px;
}

.view-news .views-field-title a {
	color: #400f00;
}

.view-news .views-field-body { color: #363636; }

.view-news .views-field-tid {
	margin: 5px 0;
}

.view-news .views-field-tid, .view-news .views-field-tid label, .terms { 
	font: 1em Georgia, Times, serif;
	font-weight: bold; 
	font-style: italic;
}

.view-news .views-field-tid label, .view-news .views-field-tid .field-content {
	display: inline;
}

/* image galleries */
.view .image-gallery-nodes ul {
	text-align: left;
}

.view-recent-photos ul, .view-recent-photos ul li {
	list-style: none !important;
	list-style-image: none !important;
	background: none !important;
	margin: 0;
	padding: 0;
}

.view-recent-photos ul li { margin-right: 2px; }
.view-recent-photos ul li, .view-recent-photos ul li div { display: inline; }
.view-recent-photos ul li img { border: 5px solid #fff; }
.view-recent-photos .view-footer { font-size: .9em; color: #666; }
.view-recent-photos .view-footer p { margin: 0; }

/* blocks */
#block-user-1 {	margin-top: 15px; }
.block .item-list ul { padding-left: 0; }

/* forms & fieldsets */
input{color:#494949;font:1em Verdana, sans-serif;}
textarea,select{color:#494949;font:1em Verdana, sans-serif;}
fieldset ul.clear-block li{background-image:none;margin:0;padding:0;}
fieldset{background:#fff;border:1px solid #ccc;margin:1em 0;padding:1em;}
fieldset legend{padding:0 0.5em;}
html.js fieldset.collapsed{background:transparent;padding-bottom:.6em;padding-top:0;}
html.js fieldset.collapsible legend a{background:url(images/menu-expanded.gif) no-repeat 0 50%;}
html.js fieldset.collapsed legend a{background:url(images/menu-collapsed.gif) no-repeat 0 50%;}
.form-checkboxes,.form-radios,.form-checkboxes .form-item,.form-radios .form-item{margin:.25em 0;}
.form-button,.form-submit{margin:1em .5em 1em 0;}
.confirmation .form-submit,.search-form .form-submit,.poll .form-submit,fieldset .form-button,fieldset .form-submit,.sidebar .form-button,.sidebar .form-submit,table .form-button,table .form-submit{margin:0 0 1.2em;}
#autocomplete li{cursor:pointer;margin:0;padding:2px;}
#autocomplete li.selected{background:#027ac6;color:#fff;}


#block-search-0 {
	margin-top: 15px;
}
#block-search-0 input#edit-search-block-form-1 {
	width: 156px;
	padding: 2px 2px;
	border: 1px solid #bcbcbc;
}
#block-search-0 input#edit-submit { 
	border: 0 !important; 
	background-color: transparent;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 23px;
	height: 23px;
}

#block-search-0 .form-item { margin: 0 !important; }
#block-search-0 .form-submit { margin: 0 !important; }
#block-search-0 .description { font: 1em Georgia, Times, serif; color: #333; padding: 2px 0 0 2px; display: block; }

/* admin tab links */
#tabs-wrapper{border-bottom:1px solid #ccc;margin:0 0 .75em;padding:0;}
ul.primary{border-bottom:5px solid #eee;margin:0;padding:.25em 0;}
ul.primary li{background:none;border-top:3px solid #ccc;margin:0 .5em 0 0;padding:.25em 0;}
ul.primary li.active{background:#eee;}
ul.primary li:hover{background:#f5f5f5;}
ul.secondary{background:#eee;border:none;margin:0;padding:.5em 1em;}
ul.secondary li{background:none;border:none;display:inline;line-height:2em;margin:0;padding:0 1em 0 0;}
ul.primary li a,ul.primary li.active a,ul.primary li a:hover,ul.primary li a:visited{background:none;border:0;margin:0;padding:0 1em;text-decoration:none;}
ul.secondary li a,ul.secondary li a:visited{background:none;border:0;margin:0;padding:0;text-decoration:none;}
ul.secondary li.active a,ul.secondary li a:hover{text-decoration:underline;}
ul.primary li.active a,ul.secondary li.active a{font-weight:bold;text-decoration:none;}

/* admin styling */
div.admin,div.admin .left,div.admin .right,div.admin-panel,div.admin-panel .body,div.admin .expert-link{margin:0;padding:0;}
div.admin .left{float:left;width:48%;}
div.admin .right{float:right;width:48%;}
div.admin-panel .description,.form-item .description{color:#666;font-size:0.9167em;line-height:1.636364em;margin:0 0 1.63636em;padding:0;}
div.admin-panel { }
body.admin dt{font-weight:normal;}
body.admin dd{color:#898989;font-size:.9167em;line-height:1.636364em;}
.more-help-link {font-size:.8333em;padding:0.2em 0 0.1em;}
.block-region {font-size:0.8333em;line-height:1.5em;margin:0;padding:0.15em 0.5em;}

/* tables */
#forum thead th {border-bottom:3px solid #ccc;}
#forum td.posts,#forum td.topics,#forum td.replies,#forum td.pager{text-align:left;}
#forum tr td.forum{background-position:4px 9px;}
.forum-topic-navigation{background:#eee;border:none;border-bottom:1px solid #ccc;margin-bottom:1em;padding:5px;}
body.admin table{margin:0 0 1.4em;width:100%;}
body.admin thead th{border-bottom:2px solid #ccc;font-weight:bold;padding:0 1em 0 0;}
body.admin tbody{border-top:none;}
body.admin td,body.admin th{padding:.3em .5em;vertical-align:middle;}
body.admin tr.even,body.admin tr.odd,body.admin tbody th{border:solid #ccc;border-width:1px 0;}
body.admin tr.odd td.active{background-color:#e9e9e9;}
body.admin tr.even td.active{background-color:#eee;}
body.admin tr.odd,body.admin tr.info{background-color:#eee;}
body.admin tr.even{background-color:#f5f5f5;}
body.admin tr.drag{background-color:#fffff0;}
body.admin tr.drag-previous{background-color:#ffd;}
body.admin td.region,body.admin td.module,body.admin td.container,body.admin td.category{background-color:#ddd;border-bottom:1px solid #ccc;border-top:1em solid #fff;color:#666;font-weight:bold;}
body.admin tr:first-child td.region,body.admin tr:first-child td.module,body.admin tr:first-child td.container,body.admin tr:first-child td.category{border-top-width:0;}
body.admin table.sticky-header{margin:0 0 0 1px;z-index:1;}
body.admin table.sticky-header th{padding-top:.5em;}
span.form-required{color:#ffae00;}

/* messages */
.messages{background-color:#fff;border:1px solid #b8d3e5;}
.messages,.preview,div.warning,div.error{margin:0 0 1.5em;padding:8px 1em;}
.messages ul{margin:0;}
.preview{background-color:#fcfce8;border:1px solid #e5e58f;}
.preview .node{background-color:#fcfce8;}
div.status{border-color:#c7f2c8;color:#33a333;}
div.error,tr.error{background-color:#fcc;color:#a30000;}
.form-item input.error,.form-item textarea.error{border:1px solid #c52020;color:#363636;}

/* status report */
table.system-status-report tr.error,table.system-status-report tr.error th{background-color:#fcc;border-color:#ebb;color:#200;}
table.system-status-report tr.warning,table.system-status-report tr.warning th{background-color:#ffd;border-color:#eeb;}
table.system-status-report tr.ok,table.system-status-report tr.ok th{background-color:#dfd;border-color:#beb;}
table.system-status-report th{padding-bottom:6px;padding-top:6px;}
table.system-status-report th,table.system-status-report tr.merge-up td{padding-left:30px;}